    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

     /*  Header   */

.header {  position: sticky;
           top: 0px; 
           box-shadow: 0px 2px 5px 2px rgb(199, 199, 199);
           z-index: 1; }   

.container{ display: flex;
            width: 100%;
            height: 75px;
            align-items: center;
            justify-content: space-between;
            padding: 5px 50px;
            background-color: rgb(255, 255, 255);   
          } 
          

img.aus_logo{ display: flex;
              width: 120px ; 
              height: 120px;
            }
 
          /* Navigation */
.menu ul {
           display: flex;
           list-style: none;
           gap: 30px;
         }

.menu ul li a {
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            position: relative;
}  

.menu ul li::after {
            content: "▾";
            margin-left: 5px;
            font-size: 16px;
            }

            /* ICON : Love Search */

.header_icon{ display: flex;
              gap: 20px;
              font-size: 20px;
              cursor: pointer;  }
        

           /* End Of main Header */
.image-container img {
                     width: 100%;
                     height: auto;
                   
                    }

           

           /* Part_two */
.gallery {
         display: flex; 
         justify-content: space-evenly;  
         }

.gallery img {
           width: 100%;
           max-width: 30%;
           height: auto;
           border-radius: 15px;
           margin: 25px;           
          }

        /* Part_three Explore Australia */

.Explore_Australia{   display: flex;  
                      position: relative;       }       
.Explore_Australia img {
                   width: 100%;
                   max-width: 100%;
                   height: auto;
                   border-radius: 15px;
                   margin: 50px 25px;
                     }        

.Explore_Australia .btn{ position: absolute;
                         background-color: rgb(255, 209, 6);
                         font-weight: bold;
                         font-size: 15px;
                         width: 150px;
                         height: 50px;
                         border: none;
                         border-radius: 50px;
                         right: 50px;
                         bottom: 75px;  }  
                         
.Explore_Australia .btn:hover{ background-color: chocolate;
                               color: white;
                               cursor: pointer;  }                         

.Explore_Australia .p1{ position: absolute;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                         color: white;
                         font-size: 35px;
                         Left: 50px;
                         bottom:90px;
                        }
.Explore_Australia .p2{
                      position: absolute;
                      color: white;
                      
                      Left: 50px;
                      bottom: 70px;
                      }

             /*  Part_Four  [Top places to go ] */

.top_place h2 {  font-family: Georgia, 'Times New Roman', Times, serif;
                 font-size: 40px;
                 margin-left: 30px; 
                 } 
                 
.categories {
            display: flex;
            flex-direction: row;
            gap: 12px;
            padding: 20px;
            margin-left: 10px;
            }

           /* Common button style */
.categories button {
                  border: none;
                  padding: 10px 18px;
                  border-radius: 20px;
                  background: #dddddd;
                  color: #505050;
                  font-size: 15px;
                  font-weight: bold;
                 cursor: pointer;
                 transition: 0.3s;
                 }


.categories button.active {
                  background: black;
                  color: white;
                    }

                /* Hover effect */
.categories button:hover {
                    background: rgb(180, 180, 180);
                    color: black;
                   }                 


.top_places{ display: flex; 
             justify-content: space-evenly;}  

.top_places img { 
           width: 100%;
           max-width: 30%;
           height: auto;
           border-radius: 15px;
           margin: 25px;
           cursor: pointer;
            }     
            
            /*  Part_Five  [Top thinks to do in Australia ] */
             
.top_thinks h2 { font-family: Georgia, 'Times New Roman', Times, serif;
                 font-size: 40px;
                 margin-left: 30px; 
                 } 

                 /* Button CSS Future Update  */
                 
.Part_five_top_things{ 
              display: flex; 
             justify-content: space-evenly;
               }    
               
.Part_five_top_things img { 
           width: 100%;
           max-width: 30%;
           height: auto;
           border-radius: 15px;
           margin: 25px;
           cursor: pointer;
            } 
            
            
            /* Part_Six  [Accessible_Travel Around Australia ] */

.Accessible_Travel{   display: flex;  
                      position: relative;       }       
.Accessible_Travel img {
                   width: 100%;
                   max-width: 100%;
                   height: auto;
                   border-radius: 15px;
                   margin: 50px 25px;
                     }        

.Accessible_Travel .btn{ position: absolute;
                         background-color: rgb(255, 209, 6);
                         font-weight: bold;
                         font-size: 15px;
                         width: 150px;
                         height: 50px;
                         border: none;
                         border-radius: 50px;
                         right: 50px;
                         bottom: 80px;  }  
                         
.Accessible_Travel .btn:hover{ background-color: chocolate;
                               color: white;
                               cursor: pointer;  }                         

.Accessible_Travel .p1{ position: absolute;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                         color: white;
                         font-size: 35px;
                         Left: 50px;
                         bottom:100px;
                        }
.Accessible_Travel .p2{
                      position: absolute;
                      color: white;
                      
                      Left: 50px;
                      bottom: 80px;
                      } 
                      
                      

    /* Part_Seven  [ Ready to plan a Trip ] */


.Ready_trip h1{  font-family: Georgia, 'Times New Roman', Times, serif;
                 font-size: 40px;
                 margin-left: 30px;  }

.ready_trip_image { display: flex;
                    justify-content: space-between;
                  }               

.ready_trip_image img{ 
                  width: 100%;
                  max-width: 92%;
                  height: auto;
                  border-radius: 15px;
                  margin: 10px 25px;  }

.ready_trip_image h3{ color: black;
                      margin: 5px 25px;
                      font-size: 25px;
                      cursor: pointer; }
                      
                      


             /* Footer Part  */

.footer{ background-color:rgb(77, 182, 214) ;
         width: 100%;
         height: 600px;
         } 
         
.aus-logo img{  
               width: 150px;
               height: 150px;
               /* margin-left: 600px; */
               display: flex;
               justify-self: center; 
             } 
.footer hr { 
             margin: 10px 80px;
             background-color: white;}  


 h3 { margin:10px 80px;
                color: white; } 
.footer_01{ display: flex; }                             

.footer_01 img { width: 80px;
                 height: 80px;
                 margin: 20px 80px ; } 

.footer_01 p { 
              color: white;
              margin: 20px 60px ; }                 

.footer_01 a{ color: white; }  


.footer_03 p { color: white;
               margin: 20px 80px ;
               text-align: justify;
   
             }

                 
             